.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #495e57;
  color: white;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #f4ce14;
}
